<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Timetable v1.0.0</title>
    </head>

    <body>
        <div class="container">
            <h2 class="text-center mt-4">$timetable.getFullTitle()</h2>
            <table class="table mt-4">
                <tbody>
                <tr style="background: darkgrey;">
                    <th style="max-width: 100px;">Day</th>
                    <th colspan="2">Events</th>
                </tr>

                #foreach($day in $timetable.getDays())
                    <tr>
                        <td style="max-width: 100px; vertical-align: middle;"><strong>$day</strong></td>
                        <td>
                            <div class="row">
                            #foreach($event in $timetable.getEventsByDay($day))
                                <div class="text-center">
                                    <div class="card m-1 p-2"> $event.renderEvent("SUBJECT NAME")</div>
                                </div>
                            #end
                            </div>
                        </td>
                    </tr>
                #end
                </tbody>
            </table>
        </div>
    </body>
</html>
