<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Timetable v1.0.0</title>

        <style>
            .card{
                cursor: pointer;
                opacity: 0.8;
            }

            .card:hover{
                opacity: 1;
            }

            .interval{
                display: block;
            }

        </style>
    </head>

    <body>
        <div class="container">
            <h2 class="text-center mt-4">$timetable.getFullTitle()</h2>
            <h3 class="text-center">$timetable.getPeriod()</h3>
            <table class="table mt-4">
                <tbody>
                <tr style="background: darkgrey;">
                    <th style="max-width: 100px;">Day</th>
                    <th colspan="2">Events</th>
                </tr>

                #foreach($day in $timetable.getDays())
                    <tr>
                        <td style="max-width: 100px; vertical-align: middle;"><strong>$day</strong></td>
                        <td>
                            <div class="row">
                            #foreach($event in $timetable.getEventsByDay($day))
                                <div class="card m-1 p-2 text-left #if($event.getInterval() != 1)interval#end">
                                    <small>
                                        <h6>$event.type: $timetable.getScheduleByEvent($event).getTitle()</h6>
                                        <strong style="font-size: 15px;">$event.time.getStartTime() - $event.time.getEndTime()</strong><br/>
                                        $event.location - ($event.getGroups())<br/>
                                        #foreach($organiser in $event.getOrganisers())
                                            #if($velocityCount  != 1); #end
                                            <strong>$organiser</strong>
                                        #end
                                        <br/>

                                    </small>
                                    <h6 class="m-0">$!event.note</h6>
                                </div>
                            #end
                            </div>
                        </td>
                    </tr>
                #end
                </tbody>
            </table>
        </div>
    </body>
</html>
