# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\TUKE\9.SemesterIng\DSL\projekt\.idea/dataSources/
.idea/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
